.nav-text{
    background-color: rgba(25, 173, 154, 0.849);
    /* background-image:url('https://play-lh.googleusercontent.com/y5TOgd5sB-odc8yNK5LUb00AI1s8oNclhCGy0PdMjeGnNOCneTuRgur9ekAmelyJbbzd');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}
