.title{
    color: rgb(197, 149, 16);
   
}
.Navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.876);
    text-align: left;
    padding: 70px 130px;
}
.Navbar a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(197, 149, 16);
}
.Navbar a:hover{
    background-color: rgba(255, 99, 71, 0.212);
}